---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in the terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1>Marvin's Personal Research Site</h1>
      <p>Welcome to my personal research site! Here you can find information about my projects, publications, and more.</p>

      <h2><strong>current projects</strong></h2>
      <br>
      <h2><strong>ab2334234322112312334234234out</strong></h2>
      <br>

  </body>
</html>


<style>
  h1 {
    color: orange;
  }
</style>